[Unit]
Description=Monitors a vibration sensor to detect when an appliance starts and stops

[Service]
ExecStart=/home/pi/Desktop/AppAlert/appliancealert.py
StandardOutput=null

[Install]
WantedBy=multi-user.target
Alias=appliancealert.service
